
.logo-1{

	height: 90px;
	display: inline-block;

}

.logo-2{
	display: inline-block;
	height: 80px; 
	width: 216px;
	align-items: middle;	
	
}

.logo-2-img {
	height: 70px; 
}
@media all and (max-width: 850px){
	.logo-2-img{
		display: none;
	} }


	
.redes-sociais {
	width: 5%;
	height: 5%;
	float: center;
	margin-left: 280px;
	max-width: 80%;
}

@media all and (max-width: 1200px){
	.redes-sociais{
		display: none;
	}}


.logo3 {
	margin-top: 4px;
	float: right;
	display: inline-block;
	list-style: none;
}

.logo-3-1 {
	margin-top: 2px;
	margin-left: 20px;
}


.titulo-1 {
	text-align: center;	 
}

.atendimento {
	text-align: center;
}

.convenios-row{
	margin-left: 5%;
	margin-right: 30px;
	width: 90%;
	margin-top: 1%;
	display:flex;
	justify-content: space-between;
}

.convenios-row-2{
	margin-left: 5%;
	margin-right: 30px;
	width: 90%;
	margin-top: -2%;
	display:flex;
	justify-content: space-between;
}


.noticias-col, .noticias-col2 {
	flex-basis: 31%;
	background-color: #B4BFBC;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.2s;
	
}

.img-div {
	width: 100%;
	
}	

h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	}


.noticias-col:hover{
	box-shadow: 0 0 50px 0px rgba(0,0,0,0.5)
}

@media(max-width: 800px){
	.convenios-row, .convenios-row-2 {
		flex-direction: column;
	}

	#primeiraimagem {
		margin-top: 50px;
	}	
}

.rodape{
	margin-top: 5px;
	text-align: center;
	background-color: black;
	height: 110px;
}

#rodape {
	color: white;
	text-align: center;
}

.faixa-rodape {
	background-color: #4BACCD;
	height: 12px;
}

.convenios-row{
	margin-left: 5%;
	margin-right: 30px;
	width: 90%;
	margin-top: 2%;
	display:flex;
	justify-content: space-between;
}

.noticias-col {
	flex-basis: 24%;
	background-color: #B4BFBC;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.2s;
}

.img-div {
	width: 100%;
}

h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	}

.noticias-col:hover{
	box-shadow: 0 0 50px 0px rgba(0,0,0,0.5)
}

@media all and (max-width: 800px){
	.convenios-row {
		flex-direction: column;
	}
}

.noticias-col {
	text-align: center;
}

#convenios-row-2{
	margin-top: 100px;
}

.noticias-col-2 {
	flex-basis: 24%;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.2s;
}