
.logo-1{

	height: 90px;
	display: inline-block;

}

.logo-2{
	display: inline-block;
	height: 80px; 
	width: 216px;
	align-items: middle;	
	
}

.logo-2-img {
	height: 70px; 
}
@media all and (max-width: 850px){
	.logo-2-img{
		display: none;
	} }


	
.redes-sociais {
	width: 5%;
	height: 5%;
	float: center;
	margin-left: 280px;
	max-width: 80%;
}

@media all and (max-width: 1200px){
	.redes-sociais{
		display: none;
	}}


.logo3 {
	margin-top: 4px;
	float: right;
	display: inline-block;
	list-style: none;
}

.logo-3-1 {
	margin-top: 2px;
	margin-left: 20px;
}

.col-10{
	width: 100%;
	float: left;
}




.titulo-1 {
	text-align: center;	 
}

.atendimento {
	text-align: center;
}

.col-10{
	width: 100%;
	float: left;
}
.slider-principal {
	margin-top: 30px;
	padding: 60px;
	margin-left: 40px;
}


.slider-principal {
	margin-top: 30px;
	padding: 60px;
	margin-left: 40px;
}

.imagens-principais {
	margin-left: 20px;
	font-size: 20px;
	text-align: center;
}

.imagens-servicos img{
	margin-left: 40px;
	padding: 10px;
	margin-top: 60px;
	display: inline-block;
	width: 20%;
	float: left;
}

.imagens-servicos-2 img{
	margin-left: 40px;
	padding: 10px;
	margin-top: 5px;
	display: inline-block;
	width: 20%;
	float: left;
}

h1 {
	margin-top: 80px;
	text-align: center;
}

p {
	margin-left: 40px;
	margin-right: 50px;
	text-align: justify;
}
ol{
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}

.valores {
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}

h3 {
	margin-left: 50px;
	margin-right: 50px;

}

.rodape{
	margin-top: 5px;
	text-align: center;
	background-color: black;
	height: 110px;
}

#rodape {
	color: white;
	text-align: center;
}

.faixa-rodape {
	background-color: #4BACCD;
	height: 12px;
}